<div *ngIf="!loading">
    <mat-card class="w-full">
      <mat-card-content>
        <div>
          <!-- filter -->
          <app-filter [fields]="filterFields" (filterUpdated)="updateFilter($event)"></app-filter>
          <mat-paginator class="flex flex-row justify-start items-center" (page)="changePagination($event)" [length]="totalItems" [pageSize]="itemsPerPage" [showFirstLastButtons]="true" [pageSizeOptions]="[5, 10, 25, 50]" [pageIndex]="currentPage - 1"></mat-paginator>
        </div>
        <!-- users list -->
        <div class="table w-full text-left text-sm border border-solid border-black">
          <div class="table-header-group">
            <div class="table-row bg-gray-900 text-white">
              <div class="table-cell p-1">
                Username
              </div>
              <div class="table-cell p-1">
                Email
              </div>
              <div class="table-cell p-1">
                Role
              </div>
              <div class="table-cell p-1">
                Alter Role
              </div>
            </div>
          </div>
          <div class="table-row-group">
            <div class="table-row even:bg-gray-100 odd:bg-gray-200" *ngFor="let row of protectedData">
              <div class="table-cell p-1">{{ row.username }}</div>
              <div class="table-cell p-1">{{ row.email }}</div>
              <div class="table-cell p-1">{{ row.role }}</div>
              <div class="table-cell p-1">
                <button *ngIf="row.role == 'Owner'" mat-raised-button color="primary" aria-label="Deactivated promote button" disabled>Can't Promote Owner</button>
                <button *ngIf="row.role == 'User'" mat-raised-button color="primary" (click)="openDialog(row.username, 'Editor')" aria-label="Promote user to editor">Promote to Editor</button>
                <button *ngIf="row.role == 'Editor'" mat-raised-button color="primary" (click)="openDialog(row.username, 'User')" aria-label="Demote editor to user">Demote to User</button>
              </div>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  