<div class="h-full flex flex-col justify-center items-center">
    <!-- loading and error indicators -->
    <div *ngIf="loading" class="flex justify-center items-center h-full">
      <div *ngIf="!loadingError" class="flex flex-col justify-center items-center">
        <mat-spinner></mat-spinner>
        <p>Loading</p>
      </div>
      <div *ngIf="loadingError" class="flex flex-col justify-center items-center">
        <mat-icon class="red-text">error</mat-icon>
        <p>{{ errMsg }}</p>
        <p class="red-text">Error: problem connecting to server</p>
      </div>
    </div>
    
    <div *ngIf="!loading" class="w-full h-full flex justify-center items-start">
      <!-- download links -->
      <div class="export-container h-full flex flex-col justify-center items-start">
        <div>Format: <mat-slide-toggle (change)="toggleFormat()">{{ format }}</mat-slide-toggle></div>
        Test



        <div *ngFor="let table of tableMap">
          <mat-divider class="p-2"></mat-divider>
          <button mat-raised-button color="primary" (click)="downloadTable(table)">
            Download {{ table }}.{{ format }}
          </button>
        </div>

      </div>
    </div>
  </div>
  
