<!-- loading and error indicators -->
<div *ngIf="loading" class="flex justify-center items-center h-full">
    <div *ngIf="!loadingError" class="flex flex-col justify-center items-center">
    <mat-spinner></mat-spinner>
    <p>Loading</p>
    </div>
    <div *ngIf="loadingError" class="flex flex-col justify-center items-center">
    <mat-icon class="red-text">error</mat-icon>
    <p class="red-text">Error: problem connecting to server</p>
    </div>
</div>
<div *ngIf="this.loading == false" class="h-full flex flex-col justify-start items-center m-2 lg:m-5 xl:m-5 2xl:m-5">
    <div class="w-full flex flex-col justify-center items-center">
        <mat-card class="w-full">
            <div class="flex flex-col justify-center items-center">
            <mat-card-title>Profile</mat-card-title>
            <mat-card-content>
                <!-- basic user infomation -->
                <div class="flex flex-col justify-center items-center">
                    <div class="table">
                        <div class="table-row-group">
                            <div class="table-row my-2">
                                <div class="table-cell">Username: </div>
                                <div class="table-cell">{{ protectedData.username }}</div>
                            </div>
                            <div class="table-row my-2">
                                <div class="table-cell">Email: </div>
                                <div class="table-cell">{{ protectedData.email }}</div>
                            </div>
                            <div class="table-row my-2">
                                <div class="table-cell">Role: </div>
                                <div class="table-cell">{{ protectedData.role }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>
            <!-- logout button -->
            <mat-card-actions>
                <div class="flex flex-col justify-center items-center">
                <button mat-raised-button type="submit" color="primary" (click)="logout()">Logout</button>
                </div>
            </mat-card-actions>
            <!-- privacy policy -->
            <div class="policy-links">
                <div class="flex flex-col justify-center items-center">
                <span><small><a routerLink='/privacy'>View Privacy Policy</a></small></span>
                </div>
            </div>
            </div>
        </mat-card>
    </div>
    <!-- if user is site owner, show list of other users-->
    <div *ngIf="this.protectedData.role == 'Owner'" class="w-full h-full flex flex-col">
        <app-users class="w-full"></app-users>
    </div>
</div>