$mat-site-primary: (
    50 : #e1e3e5,
    100 : #b5babe,
    200 : #838c93,
    300 : #515d68,
    400 : #2c3b47,
    500 : #071827,
    600 : #061523,
    700 : #05111d,
    800 : #040e17,
    900 : #02080e,
    A100 : #5196ff,
    A200 : #1e78ff,
    A400 : #005dea,
    A700 : #0053d0,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mat-site-accent: (
    50 : #fffdf5,
    100 : #fffbe7,
    200 : #fff8d7,
    300 : #fff5c6,
    400 : #fff3ba,
    500 : #fff1ae,
    600 : #ffefa7,
    700 : #ffed9d,
    800 : #ffeb94,
    900 : #ffe784,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

// setting typography information
$body-typography: 'Montserrat';
$title-font: 'Noto Sans';

$error-color: #b32b2b;

$error-msg-color: #d00;

$error-msg-bg-color: #eee;

$site-header-top-padding: 64px;
$site-header-top-padding-mobile: 50px;