<nav aria-label="Main">
    <div class="nav-wrapper w-full h-full flex flex-col justify-around items-center nav-menu">
        <div class="w-full" *ngFor="let menuLink of menuLinks">
            <ng-container *ngIf="menuLink.requiresLogin == false || this.user.loggedIn">
                <ng-container *ngIf="menuLink.requiresEditor == false || (this.user.role == 'Owner' || this.user.role == 'Editor')">
                    <ng-container *ngIf="menuLink.requiresOwner == false || this.user.role == 'Editor'">
                        <div class="w-full my-1">
                            <button class="w-full" color="primary" mat-raised-button (click)="navigate(menuLink.path)" aria-label="Navigation Button">
                                {{ menuLink.label }}
                            </button>
                        </div>
                    </ng-container>
                </ng-container>
            </ng-container>
        </div>
        <!-- only show login/register buttons if user is not logged in -->
        <ng-container *ngIf="!this.user.loggedIn">
            <span class="w-full my-1">
                <button class="w-full" mat-raised-button color="primary" (click)="navigate('/login')" aria-label="Login Button">Login</button>
            </span>
            <span class="w-full my-1">
                <button class="w-full" mat-raised-button color="primary" (click)="navigate('/register')" aria-label="Register Button">Register</button>
            </span>
        </ng-container>
        <!-- only show profile/logout buttons if user is logged in-->
        <ng-container *ngIf="this.user.loggedIn">
            <span class="w-full my-1">
                <button class="w-full" mat-raised-button color="primary" (click)="navigate('/profile')" aria-label="Profile Button">Profile</button>
            </span>
            <span class="w-full my-1">
                <button class="w-full" mat-raised-button color="primary" (click)="logout()" aria-label="Logout Button">Logout</button>
            </span>
        </ng-container>
    </div>
</nav>